{% extends 'base.html' %}

{% block title %}Функции{% endblock %}

{% block content %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h2 class="text-center mb-4">Функции</h2>
				<p class="lead text-justify">Ниже приведены все функции проекта officeGPT с их описаниями. Знайте, что некоторые из них доступны только после регистрации и заполнения профиля.</p>

				<h3 class="mt-4">Функции:</h3>
				<ul>
					<li><a href="{% url 'functions:ask_question_chatgpt' %}">Задать вопрос у ChatGPT</a></li>
					<li><a href="">Добавить документ (txt) файл для обучения ChatGPT</a></li>
				</ul>

			</div>
		</div>
	</div>
{% endblock %}
